# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
ieturk/
localturk/
disgenet/
DailyMedExtracter/dm_spl_monthly_update_feb2019.zip
DailyMedExtracter/temp_xml/DailyMedXML2CSV.csv
*.csv
DailyMedExtracter/dm_spl_release_human_rx_part1.zip
data/intern/Annotation_SW.xlsx
data/intern/AnnotationGroup1_BG.xlsx
data/intern/Annotations_AC.xlsx
data/intern/Annotations_JS.xlsx
data/intern/Annotations_LR.xlsx
data/intern/Annotations_SK.xlsx
data/intern/Annotations_VB.xlsx
data/input/open_structures.sdf
data/input/doid.owl
data/intern/internlabels_cutout.txt
data/intern/preprocess.py
data/output/Experimental_results.txt
data/output/negative_examples_for_crowd.csv
data/output/positive_examples_for_crowd.csv
data/output/predictions_for_unlabeled.csv
data/output/unlabeled_withBPAnnotations.csv
data/output/negative_examples_for_crowd.csv
data/output/positive_examples_for_crowd.csv
data/output/predictions_for_unlabeled.csv
data/output/unlabeled_withBPAnnotations.csv
data/output/negative_examples_for_crowd.csv
data/output/positive_examples_for_crowd.csv
data/output/predictions_for_unlabeled.csv
data/output/unlabeled_withBPAnnotations.csv
data/output/unlabeled_withBPAnnotations.csv
data/output/predictions_for_unlabeled.csv
data/output/positive_examples_for_crowd.csv
data/output/negative_examples_for_crowd.csv
notebooks/Data_Analysis
